{% extends 'base.html' %}

{% block content %}
<!-- banner -->
    <main>
        <section class="site-title-a" id="banner">
            <div class="site-background-a">
                <h1>Blood Bank</h1>
                <h3>Dugtong Buhay Program</h3>
            </div>
        </section>  
  </main>

<!--  about -->
<div class="about-info" id="a1">
  <div class="container">
    <div class="row2">
        <div class="about-info-content" >
          <div class="row">
              <div class="right-image">
                <img src="">
              </div>
          </div>
          <div class="left-content" >
                <h2><strong>Blood Bank:</strong></h2>
                <h2>Dugtong Buhay Program</h2>
                <p>The Blood Bank: Dugtong Buhay Program is a movement dedicated to ensuring that
                   the most vulnerable people have access to enough, safe, and high-quality blood. 
                   The Dugtong Buhay Program, in collaboration with other blood service facilities around the country,
                    will be the country's primary provider of blood and blood products. In order to achieve adequacy,
                     we continue to promote voluntary non-remunerated blood donation. 
                </p>
          </div>
        </div>
    </div>
  </div>
</div>


<!-- Contact Us -->
<div class="contact" id="a2">
  <div class="ccontainer">
    <h1> Contact Us</h1>
    <div class="contact-info">
      <p>Contact Number: <strong>1234-567-890</strong></p> 
      <p>Address: <strong>Salawag Dasmarinas City, Cavite.</strong></p> 
      <p>Facebook: <strong><a href="#"> Dugtong Buhay Program </a> </strong>  </p>
      <p>Twitter: <strong>  <a href="#"> @dugtongbuhay</a> </strong>  </p>
    </div>
  </div>
</div>
  
{% endblock %}