{% extends 'base.html' %}

{% block content %} 
<style type="text/css">
    
    .site-form {
    margin-top: 20px;
    border: 2px solid crimson;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0px 0;
    padding: 10px;
}


.site-form input[type="submit"]{
    background: crimson;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}
</style>
<br>
<br>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <center><form class="site-form" action="" method="POST">
                {% csrf_token %}
                {{form}}
                
                <input type="submit" name="Submit">
            </form></center>

        </div>
    </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br>
    {% endblock %} 